@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Verdana, Tahoma, sans-serif;
  margin: 0;
  line-height: 1.4;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, button {
  font-family: "Anton", sans-serif;
}

h1 {
  color: #fff;
  font-size: 4.209rem;
  text-align: center;
  text-shadow: 2px 3px 4px rgba(0,0,0,0.6);
}

h2 {
  color: #F54F95;
  font-size: 3.157rem;
  margin-top: 0;
}

h3 {
  font-size: 2.369rem;
  text-transform: uppercase;
  margin: 0;
}

/* header section styling */

.header-logo {
  max-width: 150px;
}

.header-list {
  display: flex;
  gap: 10px;
  list-style-type: none;
}

.list-link {
  background-color: #f54f95;
  color: #fff;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}

.list-link:hover,
.list-link:focus {
  background-color: black;
  transition: all 0.3s ease-in-out;
}

.donut-shop-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
}

.banner-wrapper {
  align-items: center;
  background-image: url(../images/hero-donuts.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 500px;
  justify-content: center;
}

/* cards  container styling */

.cards-container {
  padding: 50px 100px;
}

.cards-inner-wrapper {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}

.card:nth-child(1) {
  background-color: #fb9ec5;
}

.card:nth-child(2) {
  background-color: #bb765b;
}

.card:nth-child(3) {
  background-color: #ffc14e;
}

.card:nth-child(4) {
  background-color: #6bd886;
}

.card {
  color: #fff;
  border-radius: 20px;
  padding: 20px 10px 40px;
  text-align: center;
}

.card .card-link {
  background-color: white;
  border-radius: 30px;
  color: #f54f95;
  display: block;
  font-weight: bold;
  margin: 50px auto 0;
  padding: 15px 20px;
  text-decoration: none;
  width: fit-content;
}

/* footer */

.footer-container {
  background-color: #F54F95;
  color: #fff;
  padding: 10px;
  text-align: center;
}